.container-fluid{
    padding-right: 50px !important;
    padding-left: 50px !important;
}

.profile__image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 6px 16px rgba(0, 0, 0, .3);
    border: 2px solid white;
    position: relative;
    margin-top: 20px;
}
.edit-box{
    width: 30px; 
    height: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #e63946;
    border-radius: 50%;
    color: white;
    padding: 3px;
    position: absolute;
    top: 24%;
    left: 16.5%;
    cursor: pointer;

}
.image-edit{
    font-size: 1.3rem !important;
}
.file-input{
    display:none;
}
label{
    margin-bottom: 0 !important;
    cursor: pointer;
}
.input-group-text{
    background: white !important;
}
.form-box{
    margin-top: 70px;
}
.form-box label{
    font-weight: 700;
}
.select-box{
    color: gray;
    padding: 6px 15px;
    border-radius: 30px;
    cursor:pointer;
    border: 1px solid lightgray;
    margin-bottom: 20px;
    
}
.select-box:not(:last-child){
    margin-right: 15px;
}
.box-title{
    color: gray;
}
.select-box-right{
    background: #eeeeee30;
    padding: 0 16px 0 16px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}
::-webkit-scrollbar{
    display:none;
}
.select{
    background-color: #e63946;
    color:white;
    border: 1px solid transparent !important;
} 